<!DOCTYPE html>
<html lang="ko">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/nav') %>
    <div class="container mb-3">
        <h2 class="mb-3">About</h2>
        <p>이 사이트는 공부를 위해 민스택블로그의 게시판 만들기를 따라한 것입니다.</p>
        <p><a href="https://www.a-mean-blog.com/ko/blog/Node-JS-%EC%B2%AB%EA%B1%B8%EC%9D%8C/%EA%B2%8C%EC%8B%9C%ED%8C%90-%EB%A7%8C%EB%93%A4%EA%B8%B0">링크</a></p>
    </div>
</body>
</html>