<!DOCTYPE html>
<html lang="ko">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/nav') %>
    
    <div class="container mb-3">
        <div class="jumbotron">
            <h2>게시판만들기 실습</h2>
            <p>node 게시판 랜딩페이지</p>
        </div>
    </div>
</body>
</html>